﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-family: arial, sans-serif;

}


td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}


.label {
    width: 200px;
}

.table-position {
    margin-top: 20px;    

}

.head-panel {
    border: 1px gray;
    height: 80px;
    border-style: dotted;
}

.add-button-position {
    margin-top: 25px;
 }

.search-area {
   bottom: 10px;
}