﻿<!DOCTYPE html>
<html>
<head>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8"/>
</head>
<body>

<div class="row">
    <div class="col-md-offset-1 cols-md-4">

        <div ng-show="addProductForm.$submitted">
            <li ng-show="addProductForm.productName.$error.required">
                Nazwa produktu jest wymagana
            </li>
            <li ng-show="!addProductForm.productName.$valid">
                Nazwa produktu musi składać się z 4-80 znaków
            </li>
            <li ng-show="addProductForm.productDescription.$error.required">
                Opis produktu jest wymagany
            </li>
            <li ng-show="!addProductForm.productDescription.$valid">
                Opis produktu musi składać się z 4-200 znaków
            </li>
            <li ng-show="addProductForm.productPrice.$error.required">
                Cena produktu jest wymagana
            </li>
            <li ng-show="addProductForm.productDate.$error.required">
                Data modyfikacji jest wymagana
            </li>
            <li>
               {{ add.uiState.messages[0].message }} 
            </li>
        </div>
  
        <hr/>

        <form name="addProductForm" novalidate>
            <div class="form-group">
                <label for="name">Nazwa:</label>
                <input type="text" class="form-control"
                       name="productName"
                       id="name"
                       required
                       ng-minlength="4"
                       ng-maxlength="80"
                       data-ng-model="add.product.Name"/>
            </div>
            <div class="form-group">
                <label for="desc">Opis:</label>
                <input type="text" class="form-control"
                       name="productDescription"
                       id="desc"
                       required
                       ng-minlength="4"
                       ng-maxlength="200"
                       data-ng-model="add.product.Description"/>
            </div>
            <div class="form-group">
                <label for="price">Cena:</label>
                <input type="number" class="form-control"
                       name="productPrice"
                       id="price"
                       required
                       min="0.01"
                       max="999999.99"
                       data-ng-model="add.product.Price"
                       ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                       step="0.01"/>
            </div>
            <div class="form-group">
                <label for="date">Data modyfikacji:</label>
                <input type="text" class="form-control"
                       name="productDate"
                       id="date"
                       required
                       data-ng-model="add.product.CreatedDate"/>
            </div>
            <button class="btn btn-info" ng-click="add.addProduct(addProductForm)">Dodaj</button>
            <button class="btn btn-danger" ng-click="add.backToProductList()">Wróć</button>
        </form>

    </div>
    </div>

</body>
</html>
