﻿<!DOCTYPE html>
<html>
<head>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8"/>
</head>
<body>

<div class="row">
    <div class="col-md-offset-1 cols-md-4">

        <div ng-show="editProductForm.$submitted">
            <li ng-show="editProductForm.productName.$error.required">
                Nazwa produktu jest wymagana
            </li>
            <li ng-show="!editProductForm.productName.$valid">
                Nazwa produktu musi składać się z 4-80 znaków
            </li>
            <li ng-show="editProductForm.productDescription.$error.required">
                Opis produktu jest wymagany
            </li>
            <li ng-show="!editProductForm.productDescription.$valid">
                Opis produktu musi składać się z 4-200 znaków
            </li>
            <li ng-show="editProductForm.productPrice.$error.required">
                Cena produktu jest wymagana
            </li>
            <li ng-show="editProductForm.productDate.$error.required">
                Data modyfikacji jest wymagana
            </li>
            <li>
                {{ edit.uiState.messages[0].message }}
            </li>
        </div>

        <hr/>

        <form name="editProductForm" novalidate>          
            <div class="form-group">
                <label for="name">Nazwa:</label>
                <input type="text" class="form-control"
                      name="productName"
                       id="name"
                       required
                       ng-minlength="4"
                       ng-maxlength="80"
                       data-ng-model="edit.product.Name"/>
            </div>
            <div class="form-group">
                <label for="desc">Opis:</label>
                <input type="text" class="form-control"
                       id="desc"
                       name="productDescription"              
                       required
                       ng-minlength="4"
                       ng-maxlength="200"
                       data-ng-model="edit.product.Description"/>
            </div>
            <div class="form-group">
                <label for="price">Cena:</label>
                <input type="text" class="form-control"
                       name="productPrice"
                       id="price"
                       required
                       min="0.01"
                       max="999999.99"
                       data-ng-model="edit.product.Price"
                       ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                       step="0.01"/>
            </div>
            <div class="form-group">
                <label for="date">Data modyfikacji:</label>
                <input type="text" class="form-control" 
                       name="productDate"
                       id="date"
                       required
                       data-ng-model="edit.product.CreatedDate"/>
            </div>
            <button class="btn btn-info" ng-click="edit.updateProduct(editProductForm)">Zapisz</button>
            <button class="btn btn-danger" ng-click="edit.backToProductList()">Wróć</button>
        </form>
    </div>
</div>

</body>
</html>
