﻿<!DOCTYPE html>
<html>
<head>
    <link href="../Content/bootstrap.min.css" rel="stylesheet"/>
    <title></title>
    <meta charset="utf-8"/>
</head>
<body ng-controller="productController as vm">


<div class="container">

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 head-panel">
            <div class="add-button-position">
                <div class="row">                                  
                    <div class="col-md-4 search-area">
                        <label for="search">Szukaj:</label>
                        <input type="text" id="search" class="form-control"
                               ng-model="vm.searchInput.Name"/>
                    </div>
                    <div class="col-md-offset-5 col-md-2">
                        <a href="add"><button class="btn btn-success">Dodaj produkt</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 table-position">
            <table ng-show="vm.showTable">
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th>Data dodania</th>
                    <th>Edycja</th>
                    <th>Usuwanie</th>
                </tr>
                <tr ng-repeat="product in vm.products | filter: { Name:vm.searchInput.Name }">
                    <td>{{ product.Name }}</td>
                    <td>{{ product.Description }}</td>
                    <td>{{ product.Price }} PLN</td>
                    <td>{{ product.CreatedDate | date }}</td>
                    <td> <a href="edit/{{product.ProductId}}"><button class="btn btn-info">Edytuj</button></a></td>
                    <td><button class="btn btn-danger" ng-click="vm.deleteProduct(product)">Usuń</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>




</body>
</html>
